@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --primary-color: rgb(34, 52, 56);
    --primary-color-darker: rgb(9, 48, 56);
}

*{
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container{
    max-width: 500px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 15px;
}

h1{
    text-align: center;
    font-size: 2em;
    color: var(--primary-color);
}

.calculadora {
    width: 400px;
}

.display {
    margin: 0px 0px 20px 0px;
    font-size: 2em;
    width: 100%;
    text-align: right;

}

.btn {
    width: 100%;
    height: 40px;
    font-size: 1em;
    border: none;
    background: #dfdfdf;
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover {
    background:#9e9e9e;
}

.btn-del:hover {
    background: rgb(194, 110, 110);
}

.btn-clear:hover {
    background: rgb(114, 138, 241);
}

.btn-eq:hover{
    background: rgb(100, 189, 100);
}